body {
    font-size: 15px;
    font-family: 'Open sans', Arial, Helvetica, sans-serif;
    margin: 0;
    background: url('cloudy_bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
* { 
    box-sizing: border-box;
}
.current_weather_display { 
    height: 60vh;
    text-align: center;
    padding: 15%;
    color: white;
    position: relative;
}
.current_city_name { 
    font-size: 2rem;
    font-weight: 400;
    position: fixed;
    left: 50%;
    transform: translate(-50%, -40px);
    z-index: 1;
}
.current_city_temp { 
    font-size: 5rem;
    font-weight: 450;
}
.current_city_desc, .extra_heading { 
    font-size: 1.2rem;
    display: block;
    opacity: 0.7;
}
.current_city_coords { 
    font-size: 1rem;
    font-weight: 300;
}
.search_bar { 
    position: absolute;
    bottom: 5px; left: 10px; right: 0;
}
.search_bar input { 
    width: 80%;
    padding: 10px;
    background: transparent;
    border: 1.2px solid white;
    border-right-width: 0;
    border-radius: 20px;
    color: white;
    outline: none;
    transition: 0.3s;
}
.search_bar input:hover { 
    border-color: coral;
}
.search_bar button { 
    padding: 0%;
    background: transparent;
    border: none;
    color: white;
}
::placeholder {
    color: white;
    opacity: 1;
}
:-ms-input-placeholder {
    color: white;
}
::-ms-input-placeholder {
    color: white;
}
.error_message { 
    display: block;
    margin-bottom: 22px;
}
.forecast_tray_container{ 
    color: white;
    /*height:40vh;*/
    padding: 5% 5%;
    position: relative;
    z-index: 10;
    border-radius: 30px 30px 0 0;
    background: linear-gradient(to bottom, rgba(51, 204, 51, 0.4), rgba(0, 0, 0, 1));
    backdrop-filter: blur(8px);
}

.forecast_tray_container h1 { 
    margin: 0;
    font-size: 1.3rem;
}
.forecast_tray_container h1 span { 
    color: coral;
    float: right;
}
.forecast_tray { 
    display: flex;
    align-items: center;
    width: 100%;
    margin: 30px 0;
    overflow: scroll;
}
.forecast_tray>div{ 
    text-align: center;
    width: 70px;
    padding: 30px 10px;
    margin: 10px;
    background: rgba(0, 0, 0, 0.3);
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.3);
    border: .5px solid white;
    border-radius: 30px;
}
.forecast_tray>div>span,
.daily_forecast>div>span { 
    display: block;
    margin: 5px auto;
}
.weather-sm { 
    display: block;
    height: 50px;
    margin: auto;
    width: 50px;
}
.extra_section { 
    color: white;
    height:100vh;
    padding-top: 70px;
    position: relative;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(255, 21, 0, 0.1));
}
.card { 
    background: rgba(135, 206, 235, 0.5);
    backdrop-filter: blur(6px);
    padding: 5%;
    border-radius: 10px;
}
.daily_forecast { 
    width: 95%;
    height: 200px;
    display: flex;
    justify-content: space-evenly;
    overflow: auto;
    margin: auto;
    padding: 5%;
}
.daily_forecast>div { 
    text-align: center;
    width: 30%;
    padding: 30px 10px;
    
    background: rgba(0, 0, 0, 0.3);
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.3);
    border: .5px solid white;
    border-radius: 30px;
}
.extra_grid { 
    display: grid;
    width: 100%;
    margin-top: 30px;
    grid-template-columns: 45% 45%;
    grid-template-rows: 180px 180px;
    justify-content: space-evenly;
    grid-row-gap: 10px;
}
.stat_number { 
    font-size: 3.5rem;
}
